<template>
  <div class="row">
	<button type="button" class="btn btn-primary">Primary</button>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">Hapus</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="post in posts" :key="post.id">
      <th scope="row">{{ post.id }}</th>
      <td>{{ post.name }}</td>
      <td>{{ post.email }}</td>
      <td><router-link :to="{name: 'edit', params: {id: post.id}}">Edit</router-link></td>
      <td></td>
    </tr>
  </tbody>
</table>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      posts: []
    }
  },
  methods:{
	
  },
  created(){
	this.axios.get(`http://localhost:8000/api/user`).then((response) => {
	  console.log(response.data)
	})
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
